<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.dao.PlanBusinessUiMapper">
  <resultMap id="BaseResultMap" type="com.rabbit.model.PlanBusinessUi">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, job_id, business_id, sort, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_plan_business_ui
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_plan_business_ui
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.rabbit.model.PlanBusinessUi" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_plan_business_ui
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rabbit.model.PlanBusinessUi">
    <!--@mbg.generated-->
    update t_plan_business_ui
    set job_id = #{jobId,jdbcType=BIGINT},
      business_id = #{businessId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO t_plan_business_ui(
    job_id,
    business_id,
    sort,
    is_valid
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.jobId,jdbcType=BIGINT},
      #{element.businessId,jdbcType=BIGINT},
      #{element.sort,jdbcType=INTEGER},
      #{element.isValid,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <delete id="deleteByJobId">
    delete from t_plan_business_ui
    where job_id = #{jobId,jdbcType=BIGINT}
  </delete>

</mapper>