<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rabbit.dao.TestbusinessUiDtoMapper">
    <resultMap id="BaseResultMap" type="com.rabbit.dto.TestbusinessUiDto">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="close_browser" jdbcType="BIGINT" property="closeBrowser"/>
        <result column="timout_time" jdbcType="BIGINT" property="timoutTime"/>
        <result column="fail_continue" jdbcType="INTEGER" property="failContinue"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result property="projectName" column="project_name"/>
        <result property="isValid" column="is_valid"/>
        <result property="sort" column="sort"/>
    </resultMap>
    <select id="selectDtoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        t_testbusiness_ui.*,sp.project_name
        from t_testbusiness_ui inner join  sys_project sp on t_testbusiness_ui .project_id = sp.id
        where t_testbusiness_ui.id = #{id,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-15-->
    <select id="findDtoByAll" resultMap="BaseResultMap">
        select
        t_testbusiness_ui.*,sp.project_name
        from t_testbusiness_ui inner join  sys_project sp on t_testbusiness_ui .project_id = sp.id
        where 1=1
        <if test="id != null">
            and t_testbusiness_ui.id=#{id,jdbcType=BIGINT}
        </if>
        <if test="projectId != null">
            and project_id = #{projectId,jdbcType=BIGINT}
        </if>
        <if test="name != null and name != ''">
            and t_testbusiness_ui.`name`=#{name,jdbcType=VARCHAR}
        </if>
        <if test="closeBrowser != null">
            and close_browser=#{closeBrowser,jdbcType=BIGINT}
        </if>
        <if test="timoutTime != null">
            and timout_time=#{timoutTime,jdbcType=BIGINT}
        </if>
        <if test="failContinue != null">
            and fail_continue=#{failContinue,jdbcType=INTEGER}
        </if>
        <if test="remark != null and remark != ''">
            and remark=#{remark,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null and createBy != ''">
            and create_by=#{createBy,jdbcType=VARCHAR}
        </if>
        <if test="updateBy != null and updateBy != ''">
            and update_by=#{updateBy,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time=#{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and update_time=#{updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-15-->
    <select id="findDtoByNameAndProjectId" resultMap="BaseResultMap">
        select
            t_testbusiness_ui.*,sp.project_name
        from t_testbusiness_ui inner join  sys_project sp on t_testbusiness_ui .project_id = sp.id
        where t_testbusiness_ui.`name` = #{name,jdbcType=VARCHAR} and project_id = #{projectId,jdbcType=BIGINT}
    </select>
</mapper>
